*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


$font-family-base: 'Poppins', sans-serif;

a {
  color: $primary;
  text-decoration: none !important;
}

html, body{
  width: 100%;
  height: 100%;
  font-family: $font-family-base;
}





// Maps
$breakpoints: (
  "xl": 1200px,
  "lg": 1024px,
  "md": 768px,
  "sm": 576px,
  "xs": 320px
);