


.products-cart-section {
    padding: 60px 0px;

    .product-cart-block {
        border: 1px solid $gray;
        border-radius: 10px;
        padding: 15px;
        height: 100%;
        max-height: 455px;
        overflow: auto;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            // width: 0 !important;
            display: none;
        }

        .product-cart-listout {
            display: flex;
            flex-wrap: wrap;

            .product-cart-img {
                margin-right: 30px;
            }

            .product-cart-dsc {
                h4 {
                    @extend %font14-600;
                    line-height: 21px;
                    margin-bottom: 5px;
                }

                p {
                    font-family: $font-family-base;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    color: $gray;
                    margin-bottom: 5px;

                    strong {
                        color: $black;
                    }
                }

                .color-text {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    color: $gray;
                    display: flex;
                    align-items: center;
                    font-family: $font-family-base;
                    margin-bottom: 5px;

                    .clr-tag {
                        width: 18px;
                        height: 18px;
                        background-color: $darken-green;
                        border-radius: 50px;
                        display: block;
                        margin: 0px 5px;
                    }
                }

                .cart-num {
                    margin-bottom: 5px;

                    .minus,
                    .plus {
                        width: 20px;
                        height: 20px;
                        background: lighten($gray, 40%);
                        border-radius: 4px;
                        padding: 10px 10px 10px 10px;
                        border: 1px solid lighten($gray, 40%);
                        display: inline-flex;
                        vertical-align: middle;
                        text-align: center;
                        @extend %font14-600;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                    }

                    input {
                        height: 22px;
                        width: 100px;
                        text-align: center;
                        @extend %font14-400;
                        border: 1px solid lighten($gray, 40%);
                        border-radius: 4px;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    .qty-text {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 18px;
                    }
                }

                .cart-price {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 30px;
                    font-family: $font-family-base;
                    margin-bottom: 0px;

                    h3 {
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 30px;
                        margin-bottom: 10px;
                    }

                }

                .cart-group-btn {
                    display: flex;
                    align-items: center;

                    .btn-cart-wishlist {
                        padding: 7px 30px !important;
                        font-weight: 500 !important;
                        font-size: 12px !important;
                        line-height: 18px !important;
                        margin-right: 30px;
                    }

                    .remove-cart a {
                        color: $danger !important;
                        font-weight: 500 !important;
                        font-size: 12px !important;
                        line-height: 18px !important;
                    }
                }
            }
        }
    }
}

.oreder-summery-block {
    .apply-coupon-bar {
        border-radius: 50px;
        background-color: $light-gray;
        position: relative;
        height: 50px;

        // max-width: 80%;
        input {
            border-radius: 30px;
            background-color: $light-gray;
            @extend %font16-400;
            color: $black;

            &::placeholder {
                @extend %font16-400;
            }
        }
    }

    .apply-coupon-btn {
        background-color: $darken-green;
        border-radius: 50px;
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0px;
        padding: 5px 30px 5px 30px;
        font-size: 18px;
        font-weight: 400;
        font-family: $font-family-base;
        margin: 3px;
        color: $white;
        @extend %flex-center;

        &:hover {
            background-color: darken($darken-green, 5%);
            color: $white;
        }

    }
    .payment-details{
        font-family: $font-family-base;
        h4{
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            font-family: $font-family-base;
            color: $black;
        }
    }

}

.oreder-summery-block {
    border: 1px solid $gray;
    border-radius: 10px;
    padding: 15px;

    h3 {
        @extend %font24-600;
        line-height: 36px;
        color: $black;
        margin-bottom: 30px;
    }

    .payment-table {
        margin-top: 30px;

        span {
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: $black;
            font-family: $font-family-base;
        }

        strong {
            // font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            color: $black;
            font-family: $font-family-base;
        }

        .place-order-btn {
            width: 100%;
            max-width: 300px;
            font-size: 20px;
            font-family: $font-family-base;
            font-weight: 600;
        }
    }
}



@media (min-width:320px) and (max-width:767px) {
    .product-cart-listout {
        .product-cart-img {
            margin-bottom: 20px;
        }
    }

    .oreder-summery-block .apply-coupon-btn {
        padding: 5px 15px 5px 15px;
        font-size: 14px;
        font-weight: 600;
    }

    .products-cart-section .product-cart-block {
        margin-bottom: 30px;
    }

}

@media (min-width:768px) and (max-width:991px) {
    .product-cart-listout {
        .product-cart-img {
            margin-bottom: 20px;
            margin-right: 15px !important;
        }
    }

    .oreder-summery-block .apply-coupon-btn {
        padding: 5px 15px 5px 15px;
        font-size: 14px;
        font-weight: 600;
    }

    .products-cart-section .product-cart-block .product-cart-listout .product-cart-dsc .cart-group-btn .btn-cart-wishlist {
        padding: 7px 20px !important;
        margin-right: 20px;
    }

}